<html>
  <head>
    <meta  charset="UTF-8">
    <link rel="stylesheet" href="../../assets/style.css">
    <title>ツィートアプリ課題</title>
  </head>
  <body>
    <header>
      <img src="../../assets/header_image.png" width="40">
      <a class="header_text">ツィートアプリ課題</a>
    </header>
    <h3>以下の内容で、送信する。</h3>
    <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
      <%= form.hidden_field :content %>
      <p>Content: <%= @post.content %></p>
      <%= form.submit "確認してツィート"%>
      <%= form.submit "戻る", name: 'back' %>
    <% end %>
    <footer class="footer">
      <a class="footer_text">WEF2107 OGO Yoichi</a>
      <img src="../../assets/header_image.png" width="25">
    </footer>
  </body>
</html>
